body {
	background-color:black;
}

.button {
	margin:5px 0px 0px 15px;
	background-color:#fb0;
	color: black;
	border-radius: 3px;
	padding:10px;
	width:auto;
	display:inline-block;
	cursor:pointer;
}


.save {

	width:100px;
}
